.DS_Store
values-p.yaml
.idea
/iac/.idea
*.terragrunt-cache*
.terraformrc
terraform.rc
*.tfstate
*.tfstate.*
**/.terraform/*
/infra/.idea
/infra/.idea/
go.mod
static
*.toml
.hugo_build.lock
themes
resources
public
layouts
i18n
data
assets
archetypes
.terraform.lock.hcl